@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using Portal.Data.Models
@using Portal.Shared
@using Portal.Shared.DTO.Address

<div>
    <h3 class="form-section-title border-bottom pb-2">Address</h3>
    <div class="form-sections border-rad border-grey">
        <div>
        <label for="street">Street</label>
        <MudTextField name="street" @bind-Value="Address.Street" Variant="Variant.Outlined" Class="mb-3" For="@(() => Address!.Street)" Required="true" />
        </div>

        <label for="suburb">Suburb</label>
        <MudTextField name="suburb" @bind-Value="Address.Suburb" Variant="Variant.Outlined" Class="mb-3" For="@(() => Address!.Suburb)" Required="true" />

        <div class="form-lat-lng">
            <div>
                <label for="state">State</label>
                <MudSelect name="state" T="StateEnum ?" @bind-Value="Address.State" Variant="Variant.Outlined" Class="mb-3" For="@(() => Address!.State)" Required="true">
                    @foreach (StateEnum s in Enum.GetValues<StateEnum>())
                    {
                        <MudSelectItem T="StateEnum ?" Value="@s">@s.GetFullName()</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div>
                <label for="post-code">Post Code</label>
                <MudTextField name="post-code" @bind-Value="Address.PostCode" Variant="Variant.Outlined" Class="mb-3" For="@(() => Address!.PostCode)" Required="true" />
            </div>
        </div>
        <div class="form-lat-lng">
            <div>
                <label for="lat">Lat</label>
                <MudNumericField name="lat" T="double" @bind-Value="Address.LatLng!.Latitude" Variant="Variant.Outlined" Class="mb-3" For="@(() => Address!.LatLng!.Latitude)" Disabled="true" />
            </div>
            <div>
                <label for="lng">Lng</label>
                <MudNumericField name="lng" T="double" @bind-Value="Address.LatLng.Longitude" Variant="Variant.Outlined" Class="mb-3" For="@(() => Address!.LatLng!.Longitude)" Disabled="true" />
            </div>
        </div>
       @*  <div class="map-section">
            <small class="map-hint">Move the pin on the map to adjust the coordinates</small>
            <AdvancedGoogleMap @ref="_map" Id="map1" Options="@_mapOptions" CssClass="border-rad">
                @foreach (MarkerData marker in _markers)
                {
                    <MarkerComponent @key="marker.Id"
                                     Lat="@marker.Lat"
                                     Lng="@marker.Lng"
                                     Clickable="@marker.Clickable"
                                     Draggable="@marker.Draggable"
                                     OnClick="@(() => marker.Active = !marker.Active)"
                                     OnMove="@HandleDragEnd">
                        <div class="custom-marker border-rad">
                            <b>@marker.Title</b>
                        </div>
                    </MarkerComponent>
                }
            </AdvancedGoogleMap>
        </div> *@
    </div>
</div>
