@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using Portal.Client.Components.JobComponents
@using Portal.Client.Webmodels
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.DTO.Job
@using Portal.Shared.DTO.Address
@using Portal.Shared.Helpers

<Card ShowHeaderWithTabs="true" HeaderTitle="Technical Contacts" OnTabSelect="ChangeTabs" Tabs="[TabTypeEnum.All, TabTypeEnum.Deleted]" TabButtonClick="@(() => NewTechnicalContact(null))">
    <ChildContent>
        <div class="technical-contacts-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Contact</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Contacts.Count() == 0)
                    {
                        <tr>
                            <td colspan="5" class="empty-state">No records</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (TechnicalContactDto contact in Contacts)
                        {
                            <tr>
                                <td>@contact.ContactType</td>
                                <td><a class="contact-link" href="/contacts/@contact.ContactId">@contact.ContactName</a></td>
                                <td>@contact.Phone</td>
                                <td>@contact.Email</td>
                                <td>
                                    <span class="d-flex flex-row gap-1">
                                        <ButtonIcon Icon="bi bi-pencil" Title="Edit" CssClass="" OnClick="@(() => NewTechnicalContact(contact))" />
                                        <ButtonIcon Icon="bi bi-trash" Title="Delete" CssClass="text-red" />
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </ChildContent>
</Card>



<style>
    .technical-contacts-container {
        overflow-x: scroll;
    }
</style>