@inherits BaseDataComponent;
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

@page "/contacts"

<div class="container">
    <PageHeader>
        <Content>
            <div class="">
                <h2>Contacts</h2>
                <div>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">New</MudButton>
                </div>
            </div>
            <MudTextField T="string" @bind-Value="_sessionData.SearchString" Placeholder="Search" Adornment="Adornment.Start" TextChanged="(async (x) => await OnSearch(x))" Variant="Variant.Outlined"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Large" Class="mt-0 mb-4" Clearable="true" OnClearButtonClick="ClearSearch"></MudTextField>
        </Content>
    </PageHeader>
    <Card>
        <ChildContent>
            <MudDataGrid T="ListContactDto"
                         ServerData="LoadContacts"
                         Filterable="true"
                         SortMode="SortMode.Single"
                         Loading="base.IsLoading"
                         RowsPerPage="_rowsPerPage"
                         CurrentPage="_sessionData.Page"
                         CurrentPageChanged="@((page) => { _sessionData.Page = page; SaveSessionData(); })"
                         Dense=true
                         @ref="_grid"
                         Striped="true">
                <Columns>
                    <TemplateColumn StickyLeft="true" Title="Action">
                        <CellTemplate>
                            <div class="d-flex flex-row">
                                <MudIconButton Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Href="@($"/contacts/{context.Item.ContactId}")" Icon="@Icons.Material.Filled.RemoveRedEye" />
                                <button class="btn-icon-small">✏️</button>
                                <button class="btn-icon-small">🗑️</button>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.ContactId" ShowFilterIcon="false" HeaderStyle="max-width: 75px" />
                    <PropertyColumn Property="x => x.FullName" ShowFilterIcon="false" Title="Name" />
                    <PropertyColumn Property="x => x.Email" ShowFilterIcon="false" Title="Email" />
                    <PropertyColumn Property="x => x.Phone" ShowFilterIcon="false" Title="Phone" />
                    <TemplateColumn ShowFilterIcon="false" Title="Address">
                        <CellTemplate>
                            @if (context.Item.Address != null)
                            {
                                <p>@($"{context.Item.Address.street}, {context.Item.Address.suburb} {context.Item.Address.postCode}")</p>
                            }
                            else
                            {
                                <p class="text-muted">No address</p>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn ShowFilterIcon="false" Title="Parent Contact">
                        <CellTemplate>
                            @if (context.Item.ParentContact != null)
                            {
                                <p>@context.Item.ParentContact.fullName</p>
                            }
                            else
                            {
                                <p class="text-muted">-</p>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ListContactDto" />
                </PagerContent>
            </MudDataGrid>
        </ChildContent>
    </Card>
</div>

<style>
</style>

