@inherits BaseDataComponent;
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

@page "/contacts"

<div class="container">
    <PageHeader>
        <Content>
            <div class="page-header">
                <div class="" style="min-width: 150px">
                    <h2>Contacts</h2>
                </div>
                <div class="search-container ms-4">
                    <MudTextField T="string" @bind-Value="_sessionData.NameSearch" Placeholder="Search by Name" Adornment="Adornment.Start" TextChanged="(async (x) => { _sessionData.NameSearch = x; await OnSearch(); })" Variant="Variant.Outlined"
                                  AdornmentIcon="@Icons.Material.Filled.Person" IconSize="Size.Medium" Class="" Clearable="true" OnClearButtonClick="@(() => _sessionData.NameSearch = null)"></MudTextField>
                    <MudTextField T="string" @bind-Value="_sessionData.AddressSearch" Placeholder="Search by Address" Adornment="Adornment.Start" TextChanged="(async (x) => { _sessionData.AddressSearch = x; await OnSearch(); })" Variant="Variant.Outlined"
                                  AdornmentIcon="@Icons.Material.Filled.OtherHouses" IconSize="Size.Medium" Class="" Clearable="true" OnClearButtonClick="@(() => _sessionData.AddressSearch = null)"></MudTextField>
                </div>
            </div>
        </Content>
    </PageHeader>
    <Card>
        <TitleContent>
            <HeaderTabs OnTabSelect="ShowDelete" Href="/contacts/create"  Tabs="[TabTypeEnum.All, TabTypeEnum.Company, TabTypeEnum.Individual, TabTypeEnum.Deleted]"/>
        </TitleContent>
        <ChildContent>
            <MudDataGrid T="ListContactDto"
                         ServerData="LoadContacts"
                         Filterable="true"
                         SortMode="SortMode.Single"
                         Hover="true"
                         Loading="base.IsLoading"
                         RowsPerPage="_rowsPerPage"
                         CurrentPage="_sessionData.Page"
                         CurrentPageChanged="@((page) => { _sessionData.Page = page; SaveSessionData(); })"
                         Dense=true
                         @ref="_grid"
                         Striped="true">
                <Columns>
                    <TemplateColumn ShowFilterIcon="false" Title="Contact Type">
                        <CellTemplate>
                            <ContactTypeBadge ContactType="@(context.Item.ContactType)" />
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Property="x => x.FullName" ShowFilterIcon="false" Title="Name">
                        <CellTemplate>
                            <a class="prs-link" href=@($"/contacts/{context.Item.ContactId}")>@context.Item.FullName</a>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Email" ShowFilterIcon="false" Title="Email" />
                    <PropertyColumn Property="x => x.Phone" ShowFilterIcon="false" Title="Phone" />
                    <TemplateColumn ShowFilterIcon="false" Title="Address">
                        <CellTemplate>
                            @if (context.Item.Address is not null && !string.IsNullOrEmpty(context.Item.Address.Street))
                            {
                                <p>@($"{context.Item.Address.ToDisplayString()}")</p>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn ShowFilterIcon="false" Title="Parent Contact">
                        <CellTemplate>
                            @if (context.Item.ParentContact != null)
                            {
                                <a class="prs-link" href=@($"/contacts/{context.Item.ParentContact.contactId}")>@context.Item.ParentContact.fullName</a>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn StickyRight="true" Title="Action">
                        <CellTemplate>
                            <div class="d-flex flex-row gap-1">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" title="Edit" Color="Color.Primary" Href="@($"/contacts/edit/{context.Item.ContactId}")" Variant="Variant.Outlined" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                               Title="Delete"
                                               Color="Color.Error" Variant="Variant.Outlined" />
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ListContactDto" />
                </PagerContent>
            </MudDataGrid>
        </ChildContent>
    </Card>
</div>

<style>
</style>

