@using Portal.Shared
@using Portal.Shared.DTO.Schedule
@using Portal.Shared.DTO.User

<div class="">
    <Card ShowHeaderWithAddButton="!IsEditing" HeaderTitle="Assigned Users" CssClass="mb-3" OnAddButtonClick="@(() => IsEditing = true)" ButtonIcon="bi bi-pen">
        <ChildContent>
            <div style="min-height: 60px">
                @if (IsEditing)
                {
                    <div class="border-rad padding grey-background">
                        <label>Assigned Users</label>
                        <MudSelect T="UserDto" MultiSelection="true" Variant="Variant.Outlined"
                                   ToStringFunc="@((x) => x.displayName)"
                                   SelectedValues="_selectedUsers"
                                   SelectedValuesChanged="OnSelectedUsersChanged">
                            @foreach (UserDto user in Users)
                            {
                                <MudSelectItem T="UserDto" Value="@user">@user.displayName</MudSelectItem>
                            }
                        </MudSelect>
                    </div>

                    <div class="d-flex justify-content-center gap-1 mt-1">
                        <ButtonIcon Icon="bi bi-save" Text="" CssClass="text-green" OnClick="@(() => SaveAssignedUsers())" />
                        <ButtonIcon Icon="bi bi-x-circle" Text="" Title="Save" CssClass="text-red" OnClick="@(() => IsEditing = false)" />
                    </div>
                }
                else
                {
                    @foreach (UserDto user in Track.AssignedUsers)
                    {
                        <div>@user.displayName</div>
                    }
                }
            </div>
        </ChildContent>
    </Card>
    <MudCalendar T="CustomCalendarItem"
                 ShowDatePicker="false"
                 View="@CalendarView.Day"
                 ShowPrevNextButtons="false"
                 CurrentDay="Track.Day.ToDateTime(new TimeOnly(8, 0))"
                 ShowCurrentTime="true"
                 ShowMonth=false
                 ShowWeek=false
                 Items="Track.Events"
                 EnableDragItems="false"
                 Style="min-height: 600px !important"
                 DayCellHeight="25"
                 Class="shadow">
        <ToolbarContent>
            <div class="schedule-track-actions">
                <ButtonIcon Icon="bi bi-plus" Title="Add" CssClass="text-green" OnClick="@(() => AddNewSchedule())" />
                <ButtonIcon Icon="bi bi-trash" Title="Delete" CssClass="text-red" OnClick="@(() => Delete(Track.TrackId))" />
            </div>
        </ToolbarContent>
        <CellTemplate>
            <div class="schedule-items shadow-deep" style="border-left: 4px solid @(context.Colour ?? "#ccc"); background: var(--color-background)">
                <MudIconButton OnClick="@(() => OpenDialogAsync(context))" Size="Size.Small" Variant="Variant.Text" Color="Color.Info" Icon="@Icons.Material.Filled.RemoveRedEye" />
                @if (context.JobAddress is not null && context.JobNumber is not null && context.JobId is not null)
                {
                    <small style="">
                        Job: @context.JobNumber - @context.JobAddress
                    </small>
                    <hr />
                }
                <small style="overflow: scroll">
                    <strong>Notes:</strong> @context.Text
                </small>
            </div>
        </CellTemplate>
    </MudCalendar>
</div>
