@using Portal.Shared
@using Portal.Shared.DTO.Schedule
@using Portal.Shared.DTO.User

<div class="track-container border-rad border-grey">
    <div class="d-flex justify-content-end gap-1 mb-1">
        <ButtonIcon Icon="bi bi-pen" Title="Edit" CssClass="text-green" OnClick="@(() => IsEditing = !IsEditing)" />
        <ButtonIcon Icon="bi bi-plus" Title="Add" CssClass="text-green" OnClick="@(() => AddNewSchedule())" />
        <ButtonIcon Icon="bi bi-trash" Title="Delete" CssClass="text-red" OnClick="@(() => Delete(Track.TrackId))" />
    </div>
    <div style="min-height: 60px" class="border-grey border-rad white-background p-2">
        @if (IsEditing)
        {
            <div class="border-rad padding grey-background ">
                <label>Assigned Users</label>
                <MudSelect T="UserDto" MultiSelection="true" Variant="Variant.Outlined"
                           ToStringFunc="@((x) => x.displayName)"
                           SelectedValues="_selectedUsers"
                           SelectedValuesChanged="OnSelectedUsersChanged">
                    @foreach (UserDto user in Users)
                    {
                        <MudSelectItem T="UserDto" Value="@user">@user.displayName</MudSelectItem>
                    }
                </MudSelect>
            </div>

            <div class="d-flex justify-content-center gap-1 mt-1">
                <ButtonIcon Icon="bi bi-save-fill" CssClass="text-green" Text="Save" ButtonType="submit" OnClick="@(() => SaveAssignedUsers())" />
                <ButtonIcon Icon="bi bi-x-circle" Text="Close" CssClass="text-red" OnClick="@(() => IsEditing = false)" />
            </div>
        }
        else
        {
            if (Track.AssignedUsers.Count() is 0)
            {
                <small class="text-center">No Assigned Users</small>
            }

            @foreach (UserDto user in Track.AssignedUsers)
            {
                <div>@user.displayName</div>
            }
        }
    </div>
    <DayViewCalendar Day="Track.Day" Events="Track.Events" OnEventClick="OpenDialogAsync" />
</div>

<style>
    .track-container {
        background-color: var(--color-light-grey);
        padding: 10px;
    }
</style>