@using Portal.Shared
@using Portal.Shared.DTO.Schedule
@using Portal.Shared.DTO.User

<div class="track-container border-rad border-grey">
    <div class="d-flex justify-content-end gap-1 mb-1">
        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                       Color="Color.Success"
                       Variant="Variant.Filled"
                       title="Edit"
                       aria-label="Edit"
                       OnClick="@(() => IsEditing = !IsEditing)" />
        <MudIconButton Icon="@Icons.Material.Filled.Add"
                       Color="Color.Success"
                       Variant="Variant.Filled"
                       title="Add"
                       aria-label="Add"
                       OnClick="@(() => AddNewSchedule())" />
        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                       Color="Color.Error"
                       Variant="Variant.Filled"
                       title="Delete"
                       aria-label="Delete"
                       OnClick="@(() => Delete(Track.TrackId))" />
    </div>
    <div style="min-height: 60px" class="border-grey border-rad white-background p-2 mb-2">
        @if (IsEditing)
        {
            <div class="border-rad padding grey-background ">
                <label>Assigned Users</label>
                <MudSelect T="UserDto" MultiSelection="true" Variant="Variant.Outlined"
                           ToStringFunc="@((x) => x.displayName)"
                           SelectedValues="_selectedUsers"
                           SelectedValuesChanged="OnSelectedUsersChanged">
                    @foreach (UserDto user in Users)
                    {
                        <MudSelectItem T="UserDto" Value="@user">@user.displayName</MudSelectItem>
                    }
                </MudSelect>
            </div>

            <div class="d-flex justify-content-center gap-1 mt-1">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Success"
                           StartIcon="@Icons.Material.Filled.Save"
                           ButtonType="ButtonType.Submit"
                           OnClick="@(() => SaveAssignedUsers())">
                    Save
                </MudButton>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Error"
                           StartIcon="@Icons.Material.Filled.Close"
                           OnClick="@(() => IsEditing = false)">
                    Close
                </MudButton>
            </div>
        }
        else
        {
            if (Track.AssignedUsers.Count() is 0)
            {
                <small class="text-center">No Assigned Users</small>
            }

            @foreach (UserDto user in Track.AssignedUsers)
            {
                <div>@user.displayName</div>
            }
        }
    </div>
    <DayViewCalendar Day="Track.Day" Events="Track.Events" OnEventClick="OpenDialogAsync" />
</div>

<style>
    .track-container {
        background-color: var(--color-light-grey);
        padding: 10px;
    }
</style>