@using Portal.Shared
@using Portal.Shared.DTO.Contact
@inherits BaseDataComponent

<Card HeaderTitle="Sub Contacts" ShowHeaderWithTabs="true" Tabs="[TabTypeEnum.All, TabTypeEnum.Deleted]" OnTabSelect="ChangeTabs">
    <ChildContent>
        <MudDataGrid T="SubContactDto"
                     Items="@SubContact"
                     Dense="true"
                     Striped="true"
                     Loading="@base.IsLoading"
                     Hover="true"
                     Breakpoint="Breakpoint.Sm"
                     FixedHeader="true"
                     SortMode="SortMode.None"
                     RowsPerPage="10"
                     @ref=@_subContactGrid             
        >
            <Columns>
                <PropertyColumn Property="x => x.FullName" Title="Role" />
                <TemplateColumn Title="Contact">
                    <CellTemplate>
                        <a class="prs-link" href="/contacts/@context.Item.ContactId">@context.Item.FullName</a>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Mobile" Title="Phone" />
                <PropertyColumn Property="x => x.Phone" Title="Phone" />
                <PropertyColumn Property="x => x.Email" Title="Email" />
                <TemplateColumn Title="Actions" StickyRight="true">
                    <CellTemplate>
                        <div class="d-flex flex-row gap-1">
                            @if (context.Item.Deleted)
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Undo"
                                               Color="Color.Error"
                                               Variant="Variant.Filled"
                                               title="Restore"
                                               aria-label="Restore" />
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" title="Edit" aria-label="Edit" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                               Color="Color.Error"
                                               Variant="Variant.Filled"
                                               title="Delete"
                                               aria-label="Delete" />
                            }
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <NoRecordsContent>
                <span class="empty-state">No Records</span>
            </NoRecordsContent>
            <PagerContent>
                <MudDataGridPager T="SubContactDto" />
            </PagerContent>
        </MudDataGrid>
    </ChildContent>
</Card>
