@using Portal.Client.Components.JobComponents
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@inherits BaseDataComponent

<Card @ref="_cardRef" ShowHeaderWithTabs="true" HeaderTitle="Technical Contacts" OnTabSelect="ChangeTabs" Tabs="[TabTypeEnum.All, TabTypeEnum.Deleted]" TabButtonClick="@(() => NewTechnicalContact(null))">
    <ChildContent>
        <MudDataGrid T="TechnicalContactDto"
                     Items="@_technicalContactDtos"
                     Dense="true"
                     Striped="true"
                     Loading="@base.IsLoading"
                     Hover="true"
                     Breakpoint="Breakpoint.Sm"
                     FixedHeader="true"
                     SortMode="SortMode.None"
                     RowsPerPage="10"
                     @ref=@_grid>
            <Columns>
                <PropertyColumn Property="x => x.ContactType" Title="Role" />
                <TemplateColumn Title="@(JobId is not null ? "Contact" : "Job #")">
                    <CellTemplate>
                        @{
                            var contact = context.Item;
                        }
                        @if (JobId is not null)
                        {
                            <a class="prs-link" href="/contacts/@contact.ContactId">@contact.ContactName</a>
                        }
                        else
                        {
                            <a class="prs-link" href="/jobs/@contact.JobId">@contact.JobNumber</a>
                        }
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Phone" Title="Phone" />
                <PropertyColumn Property="x => x.Email" Title="Email" />
                <TemplateColumn Title="Actions" HeaderStyle="width: 130px;">
                    <CellTemplate>
                        <div class="d-flex flex-row gap-1">
                            @if (context.Item.Deleted)
                            {
                                <ButtonIcon OnClick="@(async () => await DeletedContact(context.Item))" Icon="bi bi-arrow-counterclockwise" CssClass="text-red" Title="Restore" />
                            }
                            else if (JobId is not null)
                            {
                                <ButtonIcon Icon="bi bi-pencil" Title="Edit" OnClick="@(() => NewTechnicalContact(context.Item))" />
                                <ButtonIcon Icon="bi bi-trash" Title="Delete" CssClass="text-red" OnClick="@(() => DeletedContact(context.Item))" />
                            }
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <NoRecordsContent>
                <span class="empty-state">No Records</span>
            </NoRecordsContent>
            <PagerContent>
                <MudDataGridPager T="TechnicalContactDto" />
            </PagerContent>
        </MudDataGrid>
    </ChildContent>
</Card>