@using Portal.Shared.DTO.Quote

<section class="p-3 border-grey grey-background ">
    <div>
        <p>Are you sure you want to send the quote <strong>@QuoteDetails.QuoteReference</strong> to <strong>@QuoteDetails.Contact?.Email</strong>?</p>
    </div>
    <div>
        <div class="d-flex justify-content-center gap-2 ">
            <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Variant="Variant.Filled" OnClick="@SendQuoteToCustomer" Disabled="@_sendingQuote">Send</MudButton>
            <MudButton Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" OnClick="@(Close)" Disabled="@_sendingQuote">Cancel</MudButton>
        </div>
    </div>

</section>

@code {
    [Parameter]
    public required QuoteDetailsDto QuoteDetails { get; set; }

    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }

    private bool _sendingQuote = false;

    public void Close() => MudDialog?.Close(DialogResult.Cancel());

    public async Task SendQuoteToCustomer()
    {
        _sendingQuote = true;
        var res = await _apiService.SendQuoteToCustomer(QuoteDetails.Id);
        if (res.IsSuccess)
        {
            MudDialog?.Close(DialogResult.Ok(true));
        }
        else
        {
            _snackbar.Add("Failed to send quote. Please try again.", Severity.Error);
        }
        _sendingQuote = false;
    }
}
