@inherits BaseDataComponent;
@using Portal.Shared
@using Portal.Shared.DTO.Councils
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

@page "/councils"

<div class="container">
    <PageHeader>
        <Content>
            <div>
                <h2>Councils</h2>
                <div>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="ClearSearch" StartIcon="@Icons.Material.Filled.Add">New</MudButton>
                </div>
            </div>
            <MudTextField T="string" @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" TextChanged="(async (x) => await OnSearch(x))" Variant="Variant.Outlined"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Large" Class="mt-0 mb-4" Clearable="true" OnClearButtonClick="ClearSearch"></MudTextField>
        </Content>
    </PageHeader>
    <Card>
        <ChildContent>
            <MudDataGrid T="CouncilPartialDto"
                         ServerData="LoadCouncils"
                         Filterable="true"
                         SortMode="SortMode.Single"
                         Loading="base.IsLoading"
                         RowsPerPage="_rowsPerPage"
                         CurrentPage="_currentPage"
                         CurrentPageChanged="@((page) => { _currentPage = page; })"
                         Dense="true"
                         @ref="_grid"
                         Striped="true">
                <Columns>
                    <TemplateColumn StickyLeft="true" Title="Action" HeaderStyle="max-width:80px">
                        <CellTemplate>
                            <MudIconButton Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Href="@($"/councils/{context.Item.councilId}")" Icon="@Icons.Material.Filled.RemoveRedEye">View</MudIconButton>
                            <button class="btn-icon-small">✏️</button>
                            <button class="btn-icon-small">🗑️</button>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.councilId" ShowFilterIcon="false" HeaderStyle="max-width: 75px" Title="ID" />
                    <PropertyColumn Property="x => x.councilName" ShowFilterIcon="false" Title="Council Name" />
                    <PropertyColumn Property="x => x.phone" ShowFilterIcon="false" Title="Phone" />
                    <PropertyColumn Property="x => x.email" ShowFilterIcon="false" Title="Email" />
                    <PropertyColumn Property="x => x.website" ShowFilterIcon="false" Title="Website">
                        <CellTemplate>
                            <a href="@context.Item.website"><small>@context.Item.website</small></a>
                        </CellTemplate>
                    </PropertyColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="CouncilPartialDto" />
                </PagerContent>
            </MudDataGrid>
        </ChildContent>
    </Card>
</div>

<style>
</style>


