@inherits BaseDataComponent;
@using Portal.Shared
@using Portal.Shared.DTO.Councils
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

@page "/councils"

<div class="container">
    <PageHeader>
        <Content>
            <div class="page-header">
                <div class="" style="min-width: 150px">
                    <h2>Councils</h2>
                </div>
                <div class="search-container">
                    <MudTextField T="string" @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" TextChanged="(async (x) => await OnSearch(x))" Variant="Variant.Outlined"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="" Clearable="true" OnClearButtonClick="ClearSearch"></MudTextField>
                </div>
            </div>
        </Content>
    </PageHeader>
    <Card>
        <TitleContent>
            <HeaderTabs OnTabSelect="ShowDelete" Href="/councils/create" />
        </TitleContent>
        <ChildContent>
            <MudDataGrid T="CouncilPartialDto"
                         ServerData="LoadCouncils"
                         Filterable="true"
                         SortMode="SortMode.Single"
                         Loading="base.IsLoading"
                         RowsPerPage="_rowsPerPage"
                         CurrentPage="_currentPage"
                         CurrentPageChanged="@((page) => { _currentPage = page; })"
                         Dense="true"
                         @ref="_grid"
                         Striped="true">
                <Columns>
                    <TemplateColumn Property="x => x.CouncilName" ShowFilterIcon="false" Title="Council Name" >
                        <CellTemplate>
                            <a class="prs-link" href=@($"/councils/{context.Item.CouncilId}")>@context.Item.CouncilName</a>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Phone" ShowFilterIcon="false" Title="Phone" />
                    <PropertyColumn Property="x => x.Email" ShowFilterIcon="false" Title="Email" />
                    <PropertyColumn Property="x => x.Website" ShowFilterIcon="false" Title="Website">
                        <CellTemplate>
                            <a href="@context.Item.Website"><small>@context.Item.Website</small></a>
                        </CellTemplate>
                    </PropertyColumn>
                    <TemplateColumn StickyLeft="true" Title="Action" HeaderStyle="max-width:80px">
                        <CellTemplate>
                            <div class="d-flex flex-row">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" title="Edit" Color="Color.Primary" Href="@($"/councils/edit/{context.Item.CouncilId}")" Variant="Variant.Outlined" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                               Title="Delete"
                                               Color="Color.Error" Variant="Variant.Outlined" />
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="CouncilPartialDto" />
                </PagerContent>
            </MudDataGrid>
        </ChildContent>
    </Card>
</div>

<style>
    .search-container {
        display: flex;
        gap: var(--padding);
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    @@media (max-width: 768px) {
        .search-container {
            flex-direction: column;
        }
    }
</style>


