@page "/jobs/edit/{JobId:int}"
@inherits BaseDataComponent
@using Portal.Client.Components.JobComponents
@using Portal.Client.Pages.Job
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.DTO.Councils
@using Portal.Shared.DTO.Job
<PageTitle>Edit Job - PRS Portal</PageTitle>

<div class="container">
    <PageHeader>
        <Content>
            <div class="" style="min-width: 150px">
                <h2>Edit Job</h2>
            </div>
            <ButtonIcon Href=@($"/jobs/view/{JobId}") Icon="bi bi-sign-turn-left" />
        </Content>
    </PageHeader>
    <Card>
        @if (base.IsLoading)
        {
            <MudSkeleton Height="600px;" />
        }
        else
        {
            @if (_model is not null)
            {
                <EditForm Model="@_model" OnValidSubmit="@SubmitAsync" class="create-job-form">
                    <div class="form-grid">
                        <div>
                            <h3 class="form-section-title border-bottom pb-2">Job Details</h3>
                            <div class="form-sections border-rad">
                                <div>
                                    <label for="job-number">Job Number</label>
                                    <MudNumericField name="job-number" T="int" @bind-Value="_model.JobNumber" Variant="Variant.Outlined"
                                                     Required="true" RequiredError="Job number is required" Class="" For="@(() => _model.JobNumber)" />
                                </div>

                                <div>
                                    <label for="job-type">Job Type</label>
                                    <MudSelect name="job-type" T="JobTypeEnum" @bind-Value="_model.JobType" Variant="Variant.Outlined" Class="" For="@(() => _model.JobType)" Required="true">
                                        <MudSelectItem T="JobTypeEnum" Value="JobTypeEnum.Construction">@JobTypeEnum.Construction.GetDisplayName()</MudSelectItem>
                                        <MudSelectItem T="JobTypeEnum" Value="JobTypeEnum.Surveying">@JobTypeEnum.Surveying.GetDisplayName()</MudSelectItem>
                                    </MudSelect>
                                </div>

                                <div>
                                    <label for="job-contact">Contact</label>
                                    <MudAutocomplete name="job-contact" T="ListContactDto" Value="_jobContact" ValueChanged="OnContactChanged" Clearable="true" Variant="Variant.Outlined" DebounceInterval="100"
                                                     SearchFunc="@SearchContacts" ToStringFunc="@(e=> e.ToString())" MaxItems="50" Required="true">
                                        <MoreItemsTemplate>
                                            <div class="d-flex justify-content-center">
                                                <small>
                                                    Only the first 10 items are shown
                                                </small>
                                            </div>
                                        </MoreItemsTemplate>
                                    </MudAutocomplete>
                                </div>

                                <div>
                                    <label for="job-council">Council</label>
                                    <MudSelect name="job-council" T="int?" @bind-Value="_model.CouncilId" Variant="Variant.Outlined" Clearable="true" Class="" For="@(() => _model.CouncilId)">
                                        @foreach (var c in _councils)
                                        {
                                            <MudSelectItem T="int?" Value="@c.CouncilId">@c.CouncilName</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                <div>
                                    <label for="job-colour-id">Colour</label>
                                    <MudNumericField name="job-colour-id" T="int?" @bind-Value="_model.JobColourId" Variant="Variant.Outlined" Min="1" Class="" Clearable="true" For="@(() => _model.JobColourId)" />
                                </div>

                                <div>
                                    <label for="details">Details</label>
                                    <MudTextField name="details" @bind-Value="_model.Details" Variant="Variant.Outlined" Class=""
                                                  For="@(() => _model.Details)" Counter="2000" Lines="3" />
                                </div>

                            </div>
                        </div>

                        @if (_model.Address is not null)
                        {
                            <EditAddress Address="_model.Address" />
                        }

                    </div>
                    <div class="form-actions">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="_isSubmitting" StartIcon="@Icons.Material.Filled.Save">Save Details</MudButton>
                        <MudButton Variant="Variant.Outlined" Href="/jobs">Cancel</MudButton>
                    </div>
                </EditForm>
            }
            @if (_model is null)
            {
                <small>Details not loaded</small>
            }
        }
    </Card>
</div>



<style>

    .create-job-form {
        margin: 0;
    }

    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calc(2 * var(--padding));
        align-items: start;
    }


    .form-sections {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        padding: calc(2 * var(--padding));
        background-color: var(--color-light-grey);
    }

    .form-lat-lng {
        display: flex;
        gap: var(--padding);
    }

    @@media (max-width: 900px) {
        .form-grid {
            grid-template-columns: 1fr;
        }
    }

    .form-section-title {
        font-size: 1rem;
        margin: 1rem 0 0.5rem;
    }

    .form-actions {
        display: flex;
        gap: 0.5rem;
        margin-top: 1.5rem;
        justify-content: end
    }

    .map-hint {
        font-size: 0.875rem;
        color: var(--mud-palette-text-secondary);
        margin-bottom: 0.5rem;
    }

    .border-rad {
        border-radius: 8px;
    }
</style>