@inherits BaseDataComponent;
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.DTO.Job
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

@page "/jobs"

<div class="container">
    <PageHeader>
        <Content>
            <div class="page-header">
                <div class="" style="min-width: 150px">
                    <h2>Jobs</h2>
                </div>
                <div class="search-container ml-2">
                    <MudTextField TextUpdateSuppression="false" T="string" @bind-Value="AddressSearch" Immediate="true" DebounceInterval="1000" Placeholder="Search by Address" Adornment="Adornment.Start" TextChanged="(async (x) => { AddressSearch = x; await OnSearch(); })" Variant="Variant.Outlined"
                                  AdornmentIcon="@Icons.Material.Filled.OtherHouses" IconSize="Size.Medium" Class="" Clearable="true" OnClearButtonClick="@(() => { _filterState.AddressSearch = null; _ = OnSearch(); })"></MudTextField>
                    <MudTextField TextUpdateSuppression="false" T="string" @bind-Value="JobNumberSearch" Immediate="true" DebounceInterval="1000" Placeholder="Search by Job Number" Adornment="Adornment.Start" TextChanged="(async (x) => { JobNumberSearch = x; await OnSearch(); })" Variant="Variant.Outlined"
                                  AdornmentIcon="@Icons.Material.Filled.Numbers" IconSize="Size.Medium" Class="" Clearable="true" OnClearButtonClick="@(() => { _filterState.JobNumberSearch = null; _ = OnSearch(); })"></MudTextField>
                    <MudTextField TextUpdateSuppression="false" T="string" @bind-Value="ContactSearch" Immediate="true" DebounceInterval="1000" Placeholder="Search by Contact" Adornment="Adornment.Start" TextChanged="(async (x) => { ContactSearch = x; await OnSearch(); })" Variant="Variant.Outlined"
                                  AdornmentIcon="@Icons.Material.Filled.Group" IconSize="Size.Medium" Class="" Clearable="true" OnClearButtonClick="@(() => { _filterState.ContactSearch = null; _ = OnSearch(); })"></MudTextField>
                </div>
            </div>
        </Content>
    </PageHeader>
    <Card>
        <TitleContent>
            <HeaderTabs OnTabSelect="ShowDelete" Href="/jobs/create" />
        </TitleContent>
        <ChildContent>
            <MudDataGrid T="ListJobDto"
                         ServerData="LoadJobs"
                         Filterable="true"
                         SortMode="SortMode.Single"
                         Loading="base.IsLoading"
                         RowsPerPage="_rowsPerPage"
                         CurrentPage="_filterState.Page"
                         CurrentPageChanged="@((page) => { _filterState.Page = page; UpdateUrlFromState(); })"
                         Dense=true
                         Hover="true"
                         @ref="_grid"
                         Striped="true">
                <Columns>
                    <TemplateColumn ShowFilterIcon="false" Title="Job Type">
                        <CellTemplate>
                            <StatusBadge StatusEnums="@(context.Item.JobType)" />
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Property="x => x.JobNumber" ShowFilterIcon="false" Sortable="true" Title="Job #" HeaderStyle="max-width: 75px">
                        <CellTemplate>
                            <a class="prs-link" href=@($"/jobs/{context.Item.JobId}")>@context.Item.JobNumber</a>
                        </CellTemplate>
                    </TemplateColumn>
                    @* <PropertyColumn Property="x => x.JobId" ShowFilterIcon="false" HeaderStyle="max-width: 75px" /> *@
                    <TemplateColumn ShowFilterIcon="false" Title="Contact">
                        <CellTemplate>
                            @if (context.Item is { Contact1: not null, Contact2: not null })
                            {
                                <a class="prs-link" href="/contacts/@context.Item.Contact1.contactId">@(context.Item.Contact1.fullName)</a>
                                <i>/</i>
                                <a class="prs-link" href="/contacts/@context.Item.Contact2.contactId">@(context.Item.Contact2.fullName)</a>
                            }
                            else if (context.Item is { Contact1: not null, Contact2: null })
                            {
                                <a class="prs-link" href="/contacts/@context.Item.Contact1.contactId">@(context.Item.Contact1.fullName)</a>
                            }
                            else
                            {

                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Address.Street" ShowFilterIcon="false" Title="Street" />
                    <PropertyColumn Property="x => x.Address.Suburb" ShowFilterIcon="false" Title="Suburb" />
                    <TemplateColumn StickyRight="true" Title="Action" HeaderStyle="max-width: 130px">
                        <CellTemplate>
                            <div class="d-flex flex-row gap-1">
                                <ButtonIcon Icon="bi bi-pencil" Title="Edit" Href="@($"/jobs/edit/{context.Item.JobId}")" />
                                <ButtonIcon Icon="bi bi-trash" Title="Delete" CssClass="text-red" OnClick="@(() => RemoveJob(context.Item.JobId))" />
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ListJobDto" />
                </PagerContent>
            </MudDataGrid>
        </ChildContent>
    </Card>
</div>

<style>
</style>
