@inherits BaseDataComponent;
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.DTO.Job
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

@page "/jobs"

<div class="container">
    <PageHeader>
        <Content>
            <div class="">
                <h2>Jobs</h2>
                <div>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">New</MudButton>
                </div>
            </div>
            <MudTextField T="string" @bind-Value="_sessionData.SearchString" Placeholder="Search" Adornment="Adornment.Start" TextChanged="(async (x) => await OnSearch(x))" Variant="Variant.Outlined"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Large" Class="mt-0 mb-4" Clearable="true" OnClearButtonClick="ClearSearch"></MudTextField>
        </Content>
    </PageHeader>
    <Card>
        <ChildContent>
            <MudDataGrid T="ListJobDto"
                         ServerData="LoadJobs"
                         Filterable="true"
                         SortMode="SortMode.Single"
                         Loading="base.IsLoading"
                         RowsPerPage="_rowsPerPage"
                         CurrentPage="_sessionData.Page"
                         CurrentPageChanged="@((page) => { _sessionData.Page = page; SaveSessionData(); })"
                         Dense=true
                         @ref="_grid"
                         Striped="true">
                <Columns>
                    <TemplateColumn StickyLeft="true" Title="Action">
                        <CellTemplate>
                            <div class="d-flex flex-row">
                                <MudIconButton Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Href="@($"/jobs/{context.Item.JobId}/false")" Icon="@Icons.Material.Filled.RemoveRedEye" />
                                <button class="btn-icon-small">✏️</button>
                                <button class="btn-icon-small">🗑️</button>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.JobId" ShowFilterIcon="false" HeaderStyle="max-width: 75px" />
                    <TemplateColumn ShowFilterIcon="false" Title="Contact">
                        <CellTemplate>
                            <p>@(context.Item.JoinedContactName)</p>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Address.street" ShowFilterIcon="false" Title="Street" />
                    <PropertyColumn Property="x => x.Address.suburb" ShowFilterIcon="false" Title="Suburb" />
                    <PropertyColumn Property="x => x.JobNumber" ShowFilterIcon="false" Title="Job Number" HeaderStyle="max-width: 75px" />
                    <TemplateColumn ShowFilterIcon="false" Title="Job Type">
                        <CellTemplate>
                            <StatusBadge statusEnum="@((JobTypeEnum)context.Item.JobTypeInt)" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ListJobDto" />
                </PagerContent>
            </MudDataGrid>
        </ChildContent>
    </Card>
</div>

<style>
</style>
