@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.DTO.Job
@using Portal.Shared.ResponseModels
@using Portal.Shared.Web

<div class="card-header-with-tabs">
    <div class="tabs">
        @foreach (var tab in Tabs)
        {
            <button class="tab @(tab == SelectedTab ? "active" : "")" @onclick="@(() => TabChanged(tab))">@tab.GetDisplayName()</button>
        }
    </div>
    @if (ShowAddButton)
    {
        <div>
            @if (IsEventSet)
            {
                <ButtonIcon Icon="bi bi-plus" Title="Add" CssClass="text-green" OnClick=@ButtonClick Text="Add" />
            }
            else
            {
                <ButtonIcon Icon="bi bi-plus" Title="Add" CssClass="text-green" Href="@Href" Text="Add" />
            }

        </div>
    }
</div>

@code {
    /// <summary>
    /// Event callback for when a tab is selected.
    /// </summary>
    [Parameter]
    public EventCallback<TabTypeEnum> OnTabSelect { get; set; }

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public EventCallback ButtonClick { get; set; }

    private bool IsEventSet => ButtonClick.HasDelegate;

    [Parameter]
    public HashSet<TabTypeEnum> Tabs { get; set; } = [];

    [Parameter]
    public bool ShowAddButton { get; set; } = true;

    [Parameter]
    public bool ShowBorderBottom { get; set; } = true;

    private TabTypeEnum SelectedTab;

    private async Task TabChanged(TabTypeEnum tab)
    {
        SelectedTab = tab;
        await OnTabSelect.InvokeAsync(tab);
    }

    protected override async Task OnInitializedAsync()
    {
        if (Tabs.Count == 0)
            Tabs = [TabTypeEnum.All, TabTypeEnum.Deleted];

        SelectedTab = Tabs.First();
    }

    public void SetTab(TabTypeEnum tab)
    {
        if (!Tabs.Contains(tab)) return;
        SelectedTab = tab;
        StateHasChanged();
    }
}

<style>
    .card-header-with-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: @(ShowBorderBottom ? "1rem" : "none");
        padding-bottom: @(ShowBorderBottom ? "1rem" : "none");
        border-bottom: @(ShowBorderBottom ? "1px solid var(--color-primary);" : "none");
        transition: all 0.1s ease-in-out;
    }

    .tabs {
        display: flex;
        gap: 0.5rem;
        border-bottom: 2px solid #f1f5f9;
    }

    .tab {
        padding: 0.5rem 1rem;
        background: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.85rem;
        color: #64748b;
        margin-bottom: -2px;
        transition: all 0.2s ease-in-out;
    }

        .tab:hover {
            color: var(--color-secondary);
            transition: all 0.2s ease-in-out;
        }

        .tab.active {
            color: var(--color-secondary);
            border-bottom-color: var(--colour-secondary);
        }

</style>